<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OttoArchiveWeb.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OttoArchive.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OttoArchiveWebSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false" bypassProxyOnLocal="false"
                 hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="OttoArchiveWebSOAPSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false" bypassProxyOnLocal="false"
                 hostNameComparisonMode="StrongWildcard" maxBufferSize="6553600" maxBufferPoolSize="52428800"
                 maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                 useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/OttoArchiveWeb/services/OttoArchiveWeb" binding="basicHttpBinding"
                bindingConfiguration="OttoArchiveWebSoapBinding" contract="ServiceReference.OttoArchiveWeb" name="OttoArchiveWeb" />
      <endpoint address="http://192.168.67.111:8080/OttoArchiveWeb/services/OttoArchiveWebSOAP"
                binding="basicHttpBinding" bindingConfiguration="OttoArchiveWebSOAPSoapBinding"
                contract="OttoArchiveWebServer.OttoArchiveWeb" name="OttoArchiveWebSOAP" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <OttoArchive.Properties.Settings>
      <setting name="ArchivServerName" serializeAs="String">
        <value>10.79.24.74</value>
      </setting>
      <setting name="SeratioServerName" serializeAs="String">
        <value>10.79.24.74</value>
      </setting>
      <setting name="ArchivPort" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="SeratioPort" serializeAs="String">
        <value>2005</value>
      </setting>
      <setting name="SysDBName" serializeAs="String">
        <value>SYSTEM</value>
      </setting>
      <setting name="DataDbName" serializeAs="String">
        <value>SYSTEM1</value>
      </setting>
      <setting name="PeriNames" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                         xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ACTEBIS</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>fkt_viewbox</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>c4?+braS</value>
      </setting>
    </OttoArchive.Properties.Settings>
  </applicationSettings>
</configuration>