<?xml version="1.0" encoding="utf-8"?>

<exporterConfig>
  <database name="diaprod_final">
    <report name="rechnungsnachdruck_dyn_view" exporter="SimplePdfExporter" />
  </database>
  <database name="actebis_sap_pe6">
    <report name="rechnungsnachdruck_dyn_view" exporter="ActebisFacturaPdfExporter" />
    <report name="rechnungsnachdruck_2_dyn_view" exporter="ActebisKreditnotePdfExporter" />
  </database>
</exporterConfig>