<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ViewboxTemporaryDirectory" value="C:\temp\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DataProvider" value="MySQL" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TempDatabaseName" value="temp" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add xdt:Transform="RemoveAll" />
    <add name="Viewbox.Properties.Settings.ViewboxDatabase" providerName="MySql.Data.MySqlClient"
         xdt:Transform="Insert"
         connectionString="server=localhost;User Id=root;password=avendata;Persist Security Info=True;database=viewbox;Connect Timeout=1000;Default Command Timeout=0;Allow Zero Datetime=True" />
    <add name="Viewbox.Properties.Settings.ADConnectionString" connectionString="LDAP://yourADServer" />
  </connectionStrings>
</configuration>

<!--<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ViewboxTemporaryDirectory" value="C:\inetpub\temp\Viewbox\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DataProvider" value="SQLServer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TempDatabaseName" value="temp" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
  <connectionStrings>
    <add xdt:Transform="RemoveAll" />
    <add name="Viewbox.Properties.Settings.ViewboxDatabase" providerName="MySql.Data.MySqlClient" xdt:Transform="Insert"
         connectionString="server=localhost;User Id=root;password=avendata;database=viewbox;Connect Timeout=1000;Default Command Timeout=0;Allow Zero Datetime=True" />
  </connectionStrings>
</configuration>-->