@model Viewbox.Models.DocumentsModelNew
@using Viewbox.Properties
@using Viewbox
<table class="overview">
	<thead>
		<tr>
            <th class='datagrid-value'>
                <div class="sort-column">Id</div>
            </th>   
            <th class='datagrid-value'>
                <div class="sort-column">Beschreibung</div>
            </th> 
            <th class='datagrid-value'>
                <div class="sort-column">Typ</div>
            </th>      
        </tr>
    </thead>
    @if (Model.Documents != null) {
        <tbody>
        @foreach (var document in Model.Documents) {
            <tr>
                <td class='datagrid-value'>
                    <div>@document.Id</div>
                    @using (Html.BeginForm("DownloadNew", "Documents", new { path = document.Id, downloadName = document.Description })) {
                        <input type="submit" class="submit cancel hide" value="Download" />
                    }
                </td>
                <td class='datagrid-value'>@document.Description</td>
                <td class='datagrid-value'>@document.TypeDescription</td>
            </tr>
        }
        </tbody>
    }			
</table>