@using Viewbox
@model Viewbox.Models.BoxHeaderModel
    <div id="topnav" class="start">
        <div id="logo"><a href="#" title=""></a></div>
        <div id="account"><ul class="dropdown"><li class="textcenter">@Model.CaptionAccount</li></ul></div>
        <div id="right" class="right_error">
            @if (ViewboxSession.User != null)
            {
                <a class="button"><span class="logout"></span></a>
            }
        </div>
    </div>
