@using Localisation.ResourcesCommon;
@{
    ViewBag.Title = "TravelBox";
}

<h2>TravelBox - experimental implementation</h2>
<p>Language: @ResourcesCommon.LanguageTest</p>
<p>@ResourcesCommon.LanguageTest1</p>
