@using SystemDb
@using Viewbox.Properties
@using Viewbox.Models
@model ITableObjectList
    
<!-- _ReportListPartial.cshtml -->
<div>
    <div class="reporttabfunctions">
        @Resources.Issues:<a>@Resources.All</a>
    </div>                
</div>