@using Viewbox
@using Viewbox.Properties
@model IEnumerable<SystemDb.ITableObject>

@{
    int i = 0;
    foreach (var t in Model)
    {
        <li>
            @Html.Hidden("settings[" + i + "].Key", t.Id)
            @Html.CheckBox("settings[" + (i++) + "].Value", t.IsAllowedInRightsMode(), new { @class = "table-visibility" })
            <a>@t.Database - @t.GetDescription()</a>
        </li>
    }
}