@model String
           
<!-- _TooltipPartial.cshtml -->
<div class="tooltip-container hide">
    <img class="tooltip-bg" src="/Content/img/bg/tooltip-bg.png"/>
    <div class="tooltip-text">@Model</div>
</div>