@model HandleErrorInfo
@{
    ViewBag.Title = "Fehler";
}
<!-- Error.cshtml -->
<h2>Fehler</h2>
<div>Action: @Model.ActionName</div>
<div>Controller: @Model.ControllerName</div>
<div>Message: @Model.Exception.Message</div>