@model Viewbox.Models.DocumentsOverviewModel
<div style="width:90%;margin:auto;padding-top:15px;padding-bottom:15px;" >

    @{
        foreach (Tuple<string, string> item in Model.Attachments)
        {

            <div style="border-bottom:1px solid #000000;border-top:1px solid #000000;overflow-wrap:break-word;">
                <a href="/Documents/GetDocumentsOverViewAttachment?file=@(Model.Name)&attachment=@(item.Item1)" filename="@item.Item1">@item.Item1</a><br /><span>@item.Item2</span>
            </div>
        }
    }
</div>
