/* LAYERS */
body{ overflow: hidden; }
.table-container { position: absolute; left: 0; top:30px; bottom:39px; right: 0; background-color: White; }
.balance-container { bottom:80px; }
.table-scroll { position: relative; margin-top: 40px; background-color: White;height: 100%;width: 100%;}
#DataGrid .content-outer { -margin-right: 22px; }
#DataGrid .layer-handle { width: 22px; height: 121px; position: absolute; top: 20px; right: 0; }
#DataGrid .layered-content { display: none; position: absolute; top: 0; width: 300px; bottom: 0; right: 22px; }
#DataGrid .tab-content { top: 67px; background: white; }
#DataGrid .extended-border .border-content { top: 0; background: none; }
#DataGrid .extended-border .column-view-props { background: none; }
#DataGrid .extended-border .header { font-weight: bold; text-align: left; height: 40px; vertical-align: middle; background: none; border: none; margin-bottom: 5px; }
#DataGrid .extended-border .header .title { color: White; line-height: 40px; vertical-align: middle; }
#DataGrid .extended-border .tabbar { background: none; border: none; }
/* HEADER */
#DataGrid .header { text-align: center; }
#DataGrid .header .nav-controls * { vertical-align: middle; line-height: 24px; }
#DataGrid .header .functions { height: 28px; float: right; }
#DataGrid .header .functions ul.dropdown { float: right; }
#DataGrid .header .functions .iconx { display: inline-block; width: 24px; height: 20px; background: center center no-repeat; margin-right: 5px; margin-top: 4px; float: right; }
#DataGrid .header .functions .iconDup {display: inline-block; width: 24px; height: 20px; background: center center no-repeat; margin-right: 5px; margin-top: 4px; float: right; background-image:url(img/icons/duplicate.png);}
#DataGrid .header .functions #datagrid_function_sumbutton { display: inline-block; background: center center no-repeat; float: right; }
#DataGrid .header .functions a.csvexport, #DataGrid .header .functionsBalance a.csvexport { background-image: url(img/icons/csv.png); }
#DataGrid .header .functions a.ideaexport, #DataGrid .header .functionsBalance a.ideaexport { background-image: url(img/icons/clipboard.png); }
#DataGrid .header .functions a.pdfexport, #DataGrid .header .functionsBalance a.pdfexport { background-image: url(img/icons/pdf.png); }
#DataGrid .header .functions a.sum, #DataGrid .header .functionsBalance a.sum { background-image: url(img/icons/sum.png); }
#DataGrid .header .functionsBalance .iconStructur { display: inline-block; width: 24px; height: 20px; background: center center no-repeat; margin-right: 5px; margin-top: 4px; float: right; }
#DataGrid .header .functionsBalance a.strukturOpen { background-image: url(img/icons/struktur_open.png); }
#DataGrid .header .functionsBalance a.strukturClose { background-image: url(img/icons/struktur_close.png); }
#DataGrid .header .functions .disabled { cursor: default;-ms-opacity: 0.5; opacity: 0.5; }
#DataGrid .header .functionsBalance { height: 28px; width: 200px; float: right; }
#DataGrid .header .functionsBalance .iconx { display: inline-block; width: 24px; height: 20px; background: center center no-repeat; margin-right: 5px; margin-top: 4px; float: right; }
#DataGrid .header .nav-controls { height: 24px; padding-top: 3px; margin: auto; }
#DataGrid .header .backlink {display: inline-block; width: 24px; height: 20px; background: center center no-repeat; margin-right: 5px; margin-top: 4px; float: right;background-image: url(img/icons/backhistory.png);}
#DataGrid .table-view-footer { position: absolute; left: 0; right: 0; bottom: 0; height: 22px; text-align: right; vertical-align: top; background: url(img/tableview/table-footer.png); }
#DataGrid .table-view-footer .shown-rows { line-height: 16px; display: inline-block; padding: 0 30px; background: url(img/tableview/table-rows-icon.png) 15px center no-repeat; font-size: .8em; color: #037db0; vertical-align: middle; margin: 3px 0; }
#DataGrid .table-view-footer .shown-rows span { color: black; }
#DataGrid .table-bg { background: url(img/tableview/table-header.png) repeat-x top; margin-left: 1px; /*MUH*/ height: 90%; }
#DataGrid .table-lines { margin: 0 1px; float: left; padding-bottom: 1px; display: inline-block; width:99.9%; /*MUH*/ height: 100%; }
/* Modification 2014-04-16 */
/*table { border-collapse: collapse; }*/
.outer-container { background-color: #ccc; overflow:hidden; }
.outer-container { background-color: #ccc; position: absolute; top:0; left: 0; right: 0; bottom: 0; overflow:hidden; }
.inner-container { height: 100%; overflow: hidden; }
.inner-container2 {	height: 100%; overflow: auto; background: white;}
.table-body	{ overflow: hidden; width: 100%; min-height:99%;}
/* DATAGRID */
.datagridHeader { position: relative; margin: 0;padding: 0; border: 0; }
.datagridFooter { overflow-y: auto; height: 600px; margin: 0; padding: 0; border: 0; }
.datagridHeader .full-width { width: 100% !important; }
.datagridFooter .full-width { width: 100% !important; }
.datagrid { white-space: nowrap; border-spacing: 1px 0; border-collapse: separate; width:100%; height: 100%; background-color: White; position: relative; z-index: 0;}
.datagrid th .th-content { line-height: 21px; font-size: 10pt; text-align: left; vertical-align: middle; background: url(img/tableview/table-header.png) white; height: 22px; }
.datagrid tbody tr { width: 100%; }
.datagrid tbody td { font-family: Consolas, Courier New, Courier, Monospace; font-size: 10pt; line-height: 16px; padding: 5px; text-align: left; vertical-align: top; }
.datagrid tbody .number { text-align: right; }
.datagrid tbody .null { text-align: center; color: Gray; }
.datagrid tbody .negative { color: Red; }
.datagrid tbody .group-cell { border-left: 2px solid #0C9CD1; border-right: 2px solid #0C9CD1; }
.datagrid tbody .datagrid-value {  white-space: pre; }
.datagrid tbody .group-cell.null { height: 16px; }
.datagrid tbody .group-cell-top { border-top: 2px solid #0C9CD1; }
.datagrid tbody .group-cell-bottom { border-bottom: 2px solid #0C9CD1; }
.datagrid tbody .subtotal-cell { border-left: 2px solid #F4A430; border-right: 2px solid #F4A430; }
.datagrid tbody .subtotal-cell.null { height: 16px; }
.datagrid tbody .subtotal-cell-top { border-top: 2px solid #F4A430; }
.datagrid tbody .subtotal-cell-bottom { border-bottom: 2px solid #F4A430; }
.datagridFooter .even td.subtotal-cell-subtotal { border-top: 2px solid #F4A430; border-bottom: 2px solid #F4A430; background: #F39815; }
.datagridFooter .odd td.subtotal-cell-subtotal { border-top: 2px solid #F4A430; border-bottom: 2px solid #F4A430; background: #F39815; }
.datagridFooter .even td.subtotal-cell-fulltotal { color: rgb(243, 152, 21); background: rgb(0, 0, 0); }
.datagridFooter .odd td.subtotal-cell-fulltotal { color: rgb(243, 152, 21); background: rgb(0, 0, 0); }

/*This section is deletable to activate excel-like-filter*/
.datagrid .column-name { padding: 0 10px 0 5px; margin-right: 25px; cursor: pointer; color: black; font-size: 10px; font-weight: bold; line-height: 22px; height: 22px; display: block; vertical-align: middle; }
.datagrid .column-name.nodrop{ background: none;}
.datagrid .triangle-filter { width: 0px; height: 0px; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid #001337; position: absolute; top: 8px; right: 25px;}
.datagrid .triangle-filter.active { width: 0px; height: 0px; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid darkgreen; position: absolute; top: 8px; right: 25px;}
.datagrid th.subtsubtotal .triangle-filter, .datagrid th.subtgroup .triangle-filter { display: none; }
.datagrid th.subtsubtotal .column-name, .datagrid th.subtgroup .column-name { cursor: default !important; }
.datagrid .column-sort { float: right; height: 20px; padding: 0 1px; margin: 1px 0; }
.datagrid th.subtsubtotal .column-sort, .datagrid th.subtgroup .column-sort { display: none; }
.datagrid .column-sort a {display: block; height: 10px; width: 10px; background: center center no-repeat; }
.datagrid .column-sort .ascending { background-image: url(img/tableview/sort-asc.gif); }
.datagrid .column-sort .ascending.active { background: url("img/bg/nav.png") repeat scroll -648px -1516px transparent !important; }
.datagrid .column-sort .descending { background-image: url(img/tableview/sort-desc.gif); }
.datagrid .column-sort .descending.active { background: url("img/bg/nav.png") repeat scroll -631px -1524px transparent !important; }
/*This section is deletable to activate excel-like-filter*/

/*This section is activable to activate excel-like-filter*/
/*.datagrid .column-name { padding: 0 10px 0 5px; font-size: 10px; font-weight: bold; line-height: 22px; }
.datagrid .column-name.nodrop{ background: none;}
.datagrid .column-icon { float: right; }
.datagrid .column-menu { position: absolute;top: 19px;z-index: 10001;height: 115px;width: 177px;background-color: white;border: 1px solid #c6c6c6;}
.datagrid .column-href { display: block; padding: 2px; height: 17px; width: 17px; background: url(img/excel-filter/ewr074.png) center center no-repeat;  }
.datagrid .column-href.ascending { background-image: url(img/excel-filter/ewr096.png) }
.datagrid .column-href.descending { background-image: url(img/excel-filter/ewr095.png) }
.datagrid .column-menu-item a { display: block;height: 23px;width: 100%;}
.datagrid .column-menu a, .column-menu a:link , .column-menu a:visited, .column-menu a:hover, .column-menu a:active { color: black;padding-left: 35px;width: 142px; }
.datagrid .column-menu-item a:hover { background-color: #D3F0E0 }
.datagrid .column-menu-item ul { display: none;}*/
/*This section is activable to activate excel-like-filter*/

/*Excell like filter*/
.datagrid .excell-like-filter-link {height:20px;width:7px; float: left;position: relative; background-color: rgb(22, 47, 119);margin: 1px 0;cursor: pointer;}
#excell-like-filter { display: none; position: relative;width: 200px; padding: 10px 15px; /*background-color: lightblue;*/}
/*Resizing column widths*/
.datagrid .th-resize-line {float:right; height:20px; position: relative;margin: 1px 0;}
.datagrid .resizing {cursor: col-resize;}
.datagrid .relation { display: none; }
.datagrid.relations .relation { display: table-cell; }
.datagridFooter .even td { background: white; }
.datagridFooter .odd td { background: #E5EEF2; }
#DataGrid > div.content-box > div > div.content-inner > div.table-container > div.table-scroll > div.table-lines > div.outer-container > div > div.table-body > table > tbody > tr:nth-child(2)
.full-width { width: 100%; }
.full-height { height:100%; }
td.no-data { text-align: center !important; font-size: 20px !important; font-weight: bold; opacity: 0.15; filter: alpha(opacity = 15); background-color: #fff !important; 
             border:none !important; vertical-align: middle !important; }
tr.no-data { vertical-align: middle; height: 100%; background-color: white !important; border: none !important; }
.no-data-balance { display: inline-block; font-family: Consolas,Courier New,Courier,Monospace; font-size: 20px !important; font-weight: bold; left: 0; opacity: 0.15; 
                   position: absolute; right: 0; text-align: center; top: 50%; width: 100%; filter: alpha(opacity = 15); }
.no-column-container { height: 100%; width:100%; position:absolute; left:0; right:0; top: 0; bottom: 0; background-color: white; text-align: center; font-size: 20px; font-weight: bold; }
.no-column-text { position: absolute; top: 50%; right: 0; left: 0; opacity: 0.15; filter: alpha(opacity = 15); }
/*Rowcount form*/
.rowcountform { display: inline-block;text-align: center;}
.rowcount { display: inline;height: 12px;}
.rowcount input[type=text]{font-size: 12px; width: 30px;height: 15px;text-align: center;line-height: 15px!important; border: 1px solid #eee;/*margin-bottom: 2px;*/}
.rowcount input[type=submit]{ font-size: 12px; line-height: 12px!important;margin-bottom: 1px;padding-bottom: 1px;padding-top: 1px;}
.pagecount { display: inline;height: 12px;font-size: 12px; width: 30px;height: 12px; text-align: center;line-height: 12px!important; border: 1px solid #eee;margin-bottom: 2px;}
/* COLUMN FILTER */
#data-grid-column-filter { display: none; position: relative; height: 46px; width: 340px; padding: 0px 15px; margin-top: 4px;top: -4px;white-space: normal;/*background: url(img/dropdown/filter-dropdown.png);*/ /*position: fixed; margin-left: -7px; z-index: 10;*/ }
#data-grid-column-filter p { margin: 0 0 3px 3px; padding: 0; }
#data-grid-column-filter input[type=text] { width: 315px; height: 18px; line-height: 18px; border: 1px solid #eee; }
#data-grid-column-filter input[type=submit] { color: rgb(151, 153, 146); font-weight: bold; width: 30px;padding: 0;text-align: center;border: 1px solid grey;height: 20px;vertical-align: middle; line-height: 20px; background: url("img/bg/report-button-bg.png") repeat-x scroll 0 0 transparent; }
#data-grid-column-filter input[type=button] { color: rgb(151, 153, 146); font-weight: bold; padding: 0;text-align: center;border: 1px solid grey;height: 20px;vertical-align: middle; line-height: 20px; background: url("img/bg/report-button-bg.png") repeat-x scroll 0 0 transparent; }
/* Extended information */
#extended-information { display: none; position: absolute; padding: 10px 15px; /*background-color: lightblue;*/}
/* CLICK'N'CLICK*/
.clicknclick-box { height: 417px; display: none; position:absolute; z-index:10003;overflow: hidden; left:37px;  }
.clicknclick-box .background-box-invisible { height: 400px; display: block; position:relative; z-index:1;overflow: hidden; width:420px;  }
.clicknclick-box .background-arrow { z-index:1; position: relative; top:-2px; left:0; width: 100%; height: 22px; background-image: url(img/clicknclick/clicknclick-arrow.png); background-repeat: no-repeat; background-position: 15px; }
.clicknclick-box .background-arrow-down { z-index:1; position: relative; top:391px; left:0; width: 100%; height: 22px; background-image: url(img/dropdown/arrow-layer-down-black.png); background-repeat: no-repeat; background-position: 15px; }
.clicknclick-box .triangleleftdown { height: 20px; background: url(img/dropdown/arrow-layer-down-black.png) no-repeat left;margin: 391px 20px; z-index:1001;}
.clicknclick-box .background-container { position: relative; top:-4px; left:0; z-index:0;width: 430px; }
.clicknclick-box .background-left { float: left; display: inline-block; width: 15px; height: 400px; background-image: url(/Content/img/clicknclick/clicknclick-left.png); background-repeat: no-repeat; }
.clicknclick-box .background-middle { float: left; display: inline-flexbox; height: 400px; background-image: url(/Content/img/clicknclick/clicknclick-middle.png); background-repeat: repeat-x;width: 400px; }
.clicknclick-box .background-middle .content { height: 100%;width: 100%; }
.clicknclick-box .background-middle .content .top { height: 58px; }
.clicknclick-box .background-middle .content .top .head { color: white;font-size: 13px;font-weight: bold;height: 30px;line-height: 30px;margin-top: 4px;padding-left: 5px; cursor: default;position: relative;}
.clicknclick-box .background-middle .content .top .head .close { position: absolute;right: 0;top: 0; }
.clicknclick-box .background-middle .content .top .head .close a{ cursor: pointer;color: #A2A2A2;font-weight: bold; }
.clicknclick-box .background-middle .content .top .search-panel { height: 28px;line-height: 28px;display: none;}
.clicknclick-box .background-middle .content .top .search-panel .search-clicknclick-panel { float: right;margin-top: 3px; }
.clicknclick-box .background-middle .content .top .search-panel .search-clicknclick-panel .bg-middle { width: 150px; }
.clicknclick-box .background-middle .content .top .search-panel .search-clicknclick-panel .bg-right { height: 23px; width: 23px;float: left; }
.clicknclick-box .background-middle .content .top .search-panel .back { cursor: pointer; color: #037DB0; padding-left: 5px;float: left;}
.clicknclick-box .background-middle .content .scroll-left { overflow-y: scroll; height: 328px; background-color: White; padding-left: 5px; padding-right: 5px;width: 97%; }
.clicknclick-box .background-middle .content .scroll-left .container-left { width: 100%; float:left; }
.clicknclick-box .background-middle .content .scroll-left .container-left .table, .clicknclick-box .background-middle .content .scroll-left .container-left .description { line-height: 25px;min-height: 25px;padding: 5px; }
.clicknclick-box .background-box { height: 400px; display: block; position:relative; z-index:10002;overflow: hidden; background: none; border:10px solid black; border-radius:15px; width:380px; top:-6px;  }
.clicknclick-box .background-right { float: left; display: inline-block; width: 15px; height: 400px; background-image: url(/Content/img/clicknclick/clicknclick-right.png); background-repeat: no-repeat; }
/* Relation new */
.clicknclick-box .background-middle .table .is_new_tab, .clicknclick-box .background-middle .table .link, .clicknclick-box .background-middle .table .target, .clicknclick-box .background-middle .table .ordinal { display: none; }
.clicknclick-box .background-middle .table, .clicknclick-box .background-middle .description { cursor: pointer; }
.clicknclick-box .background-middle .table.hover, .clicknclick-box .background-middle .description.hover { background-color: #037DB0; }
.clicknclick-box .background-middle .table.hover a, .clicknclick-box .background-middle .description.hover a { color: white;text-decoration: none;/*font-weight: bold;*/ }
.clicknclick-box .background-middle .row_no { display: none; }
.clicknclick-box .background-middle .option.active .table { display: block;}
.clicknclick-box .background-middle .option.active { margin-bottom: 5px;margin-top: 5px;}
.clicknclick-box .background-middle .option .table { display: none;}
.clicknclick-box .container-left .no-tables { display: none;bottom: 50%;font-size: 14px;font-weight: bold;line-height: 328px;text-align: center;cursor: default;}
.clicknclick-box .background-middle .first-description {margin-bottom: 5px; margin-top: 5px;}
.clicknclick-box .background-middle .first-description a {color: black;cursor: default;}

/* CLICK'N'CLICK 2*/

.clicknclick-box2{
	font: normal 12px/14px Arial, sans-serif;
	position:absolute;
	top:100px;
	left:100px;
	width:370px;
	padding:5px;
	border:10px solid black;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
	box-shadow: 0px 0px 10px black;    
	background: white url(/Content/img/clicknclick/cnc_head.png) repeat-x top center;
    z-index:10003;
}

.clicknclick-box2 .head{
	font: bold 14px/14px Arial, sans-serif;
	color:lightgray;
	margin-bottom:50px;
}

.clicknclick-box2 .background-arrow{
	position:absolute;
	width:70px;
	height:20px;
	top:-20px;
	left:0px;
	background:url(/Content/img/clicknclick/cnc_popup_triangle.png) no-repeat;
    z-index:10003;
}
.clicknclick-box2 .background-arrow-down{
	position:absolute;
	width:70px;
	height:20px;
	top:-20px;
	left:-10px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
	background:url(/Content/img/clicknclick/cnc_popup_triangle.png) no-repeat;
    z-index:10003;
}
.clicknclick-box2 .close{
	position:absolute;
	width:37px;
	height:20px;
	top:5px;
	left:360px;
	background:url(/Content/img/clicknclick/cnc_close.png) no-repeat;
    z-index:10003;
}
.clicknclick-box2 .content .scroll-left { overflow-y: scroll; height: auto; background-color: White; padding-left: 5px; padding-right: 5px;width: 97%; }
.clicknclick-box2 .content .scroll-left .container-left { width: 100%; float:left; }
.clicknclick-box2 .content .scroll-left .container-left .table, .clicknclick-box2 .content .scroll-left .container-left .description { line-height: 25px;min-height: 25px; }
.clicknclick-box2 .content .search-panel { height: 28px; line-height: 28px; display: none;}
.clicknclick-box2 .content .search-panel .search-clicknclick-panel { float: right;margin-bottom: 5px; }
.clicknclick-box2 .content .search-panel .search-clicknclick-panel .bg-middle { width: 150px; }
.clicknclick-box2 .content .search-panel .search-clicknclick-panel .bg-right { height: 23px; width: 23px;float: left; }
.clicknclick-box2 .content .search-panel .back { cursor: pointer; color: #037DB0; padding-left: 5px;float: left;}
/* Relation new */
.clicknclick-box2 .scroll-left .table .is_new_tab, .clicknclick-box2 .scroll-left .table .link, .clicknclick-box2 .scroll-left .table .target, .clicknclick-box2 .table .ordinal, .clicknclick-box2 .table .is_dynamic, .clicknclick-box2 .table .source { display: none; }
.clicknclick-box2 .row_no { display: none; }
.clicknclick-box2 .table.hover, .clicknclick-box2 .description.hover { background-color: #037DB0; }
.clicknclick-box2 .table.hover a, .clicknclick-box2 .description.hover a { color: white;text-decoration: none;/*font-weight: bold;*/ }
.clicknclick-box2 .scroll-left .option.active .table { display: block;}
.clicknclick-box2 .scroll-left .option.active { margin-bottom: 5px;margin-top: 5px;}
.clicknclick-box2 .scroll-left .option .table { display: none;}
.clicknclick-box2 .scroll-left .container-left .no-tables { display: none;bottom: 50%;font-size: 14px;font-weight: bold;line-height: 328px;text-align: center;cursor: default;}
.clicknclick-box2 .first-description {margin-bottom: 5px; margin-top: 5px;}
.clicknclick-box2 .first-description a {color: black;cursor: default;}



/* TABLEOBJECTS DROPDOWN*/
.join-relation-tableobjects { position: absolute; width: 250px; height: 300px; background: white; border: 1px solid grey; box-shadow: 1px 1px 2px 2px #666; display: none; }
.join-relation-tableobjects .tabbar { border-bottom: none !important; }
.join-relation-tableobjects .objects { height: 254px; overflow-y: scroll; overflow-x: hidden; }
.join-relation-tableobjects .navigation { height: 22px; border-top: 1px solid #ccc; background: #eee; text-align: center; }
.join-relation-tableobjects .navigation .iconx { display: inline-block; height: 24px!important; width: 24px!important; background: center center no-repeat; }
.join-relation-tableobjects .navigation a.first { background-image: url(img/icons/first.png); cursor: pointer; }
.join-relation-tableobjects .navigation span.first { background-image: url(img/icons/first-inactive.png); }
.join-relation-tableobjects .navigation a.back { background-image: url(img/icons/back.png); cursor: pointer; }
.join-relation-tableobjects .navigation span.back { background-image: url(img/icons/back-inactive.png); }
.join-relation-tableobjects .navigation a.next { background-image: url(img/icons/next.png); cursor: pointer; }
.join-relation-tableobjects .navigation span.next { background-image: url(img/icons/next-inactive.png); }
.join-relation-tableobjects .navigation a.last { background-image: url(img/icons/last.png); cursor: pointer; }
.join-relation-tableobjects .navigation span.last { background-image: url(img/icons/last-inactive.png); }
.join-relation-tableobjects .navigation a.counting { background-image: url(img/icons/calculate.png); cursor: pointer; }
.join-relation-tableobjects .navigation span.counting { background-image: url(img/icons/calculate-inactive.png); }
.join-relation-tableobjects .navigation span { width: auto!important; height: 24px; line-height: 24px; vertical-align: middle; float:none!important; color: #000!important; margin: 0!important;font-size: small;}
.join-relation-tableobjects .navigation a { width: auto!important; height: 24px; line-height: 24px; vertical-align: middle; float:none!important; color: #000; }
.join-relation-tableobjects .Category { line-height: 16px; border-bottom: 1px solid #ccc; margin-bottom: 10px; }
.join-relation-tableobjects .Category .Description { padding: 3px 0; padding-left: 5px; }
.join-relation-tableobjects .TableObjects { color: #037db0; }
.join-relation-tableobjects .TableObject { border-top: 1px solid #ccc; padding: 3px 0 3px 15px; display: none; cursor: pointer; }
.join-relation-tableobjects.Issues .Issue,
.join-relation-tableobjects.Views .View,
.join-relation-tableobjects.Tables .Table {display: inherit; }
.join-relation-tableobjects .tabbar { margin: 0!important; }
.join-relation-tableobjects .tabbar a { font-size: 10px!important; }
/* ISSUE HISTORY DROPDOWN */
.issue-history-list { position: absolute; width: 250px; height: 300px; background: white; border: 1px solid grey; box-shadow: 1px 1px 2px 2px #666; display: none; }
/* COLUMN DROPDOWN */
#tabfunctions #column-dropdown2 { display: none; }
#tabfunctions #relation-column-dropdown2 { display: none; }
#tabfunctions #join-column-dropdown2 { display: none; }
#tabfunctions .dropdown.columns { width: 250px; height: 200px; overflow-y: auto;
                                  overflow-x: hidden; background: white; border: 1px solid #037db0;
                                  box-shadow: 1px 1px 2px 2px #666; position: absolute; margin-top: -1px;z-index: 1000;text-align: left;}
#tabfunctions .dropdown.columns .column { padding: 3px 5px; border-bottom: 1px solid #deddde; cursor: pointer; }
#tabfunctions .dropdown.columns .colname { width: 160px; padding-left: 60px; }
#tabfunctions .dropdown.columns .colnumber { float: left; width: 50px; text-align: right; padding-right: 5px; }
#tabfunctions .transaction-label { line-height: 26px;vertical-align: middle;}
/* TEMPLATE*/
.template { display: none!important; }
ul.clicknclick .clicknclick-dropdown { display: none; position: absolute; background: white; border: 1px solid #037db0; box-shadow: 1px 1px 2px 2px #666; padding: 2px; }
ul.clicknclick:hover .clicknclick-dropdown { display: inherit; }
ul.clicknclick div { padding: 2px; }
/* BALANCE */
.balance-view { position: relative; left: 0; top: 0; height: 100%;width: 100%; }
.tree-node { padding-left: 20px; font-family: Consolas, Courier New, Courier, Monospace; cursor: pointer; }
.tree-node.open { background: url(img/bg/arrow-grey-bottom.png) 10px 5px no-repeat; }
.tree-node.closed { background: url(img/bg/arrow-orange-right.png) 10px 4px no-repeat; }
.tree-node.closed .tree-node { display: none; }
.node-descr { float: left; padding-left: 5px; }
.node-value { text-align: right; background: #eee; border-top: 1px solid #f8f8f8; border-bottom: 1px solid #e8e8e8; padding-right: 5px; }
.node-value.negative { color: red; }
.node-value:hover { background: #a2f18b;  }
.table-parameters { margin: 8px 8px 8px 8px; }
.table-parameter { padding: 3px 10px 3px 0; }
.table-parameter .left span { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 250px; display: inline-block; }
.table-parameters .table-name { font-size: 14px; padding: 3px 20px 2px 0; }
.table-parameter-name { font-weight: bolder;padding-right: 6px; }
.dcw-structure { text-align: right; background: #e1e1e1; border-top: 1px solid #f8f8f8; border-bottom: 1px solid #e8e8e8; padding-right: 5px;min-height: 15px;}
.dcw-account { text-align: right; background: #eee; border-top: 1px solid #f8f8f8; border-bottom: 1px solid #e8e8e8; padding-right: 5px; min-height: 15px;}
.balance-value{ min-width: 150px; max-width: 150px;text-align: right; min-height: 1px}
.balance-value.negative { color: red; }
.dcw-structure:hover, .dcw-account:hover { background: #a2f18b;  }
.balance-header{ padding-left: 5px;padding-right: 5px;font-size: 13px; font-weight: bolder; background: url("img/tableview/table-header.png") repeat scroll 0 0 #FFFFFF;min-height: 19px; padding-top: 3px;}
.balance-parameters { margin: 8px 8px 8px 8px; }
.balance-parameter { padding: 3px 20px 3px 0; }
.balance-parameters .table-name { font-size: 14px; padding: 3px 20px 2px 0; }
.balance-scroll-header { width: 17px; }
.balance-parameter-name { font-weight: bolder;padding-right: 6px; }
/*##### the dragtable stuff #####*/
.table-head-container { position: absolute; top: 54px; left:1px; right:17px; overflow:hidden; }
th .handle { background-image: url(img/dragdrop/bg.png); background-repeat: repeat-x; height: 13px; margin: 0 1px; cursor: move; }
th .no-handle { height: 13px; background: white; }
.dragtable-sortable { list-style-type: none; margin: 0; padding: 0; }
.dragtable-sortable li { margin: 0; padding: 0; float: left; font-size: 1em; background: white; }
.dragtable-sortable th, .dragtable-sortable td{ border-left: 0px; }
.dragtable-sortable li:first-child th, .dragtable-sortable li:first-child td { border-left: 1px solid #CCC; }
.ui-sortable-helper { opacity: 0.7;filter: alpha(opacity=70); }
.ui-sortable-placeholder { border: 1px dotted black; background: #EFEFEF !important; visibility: visible !important; }
.ui-sortable-placeholder * { opacity: 0.0; visibility: hidden; }
/*Delete relation classes*/
ul .deleterelcontainer {position: relative;height: 500px;}
ul .relcontainer {position:absolute; height:470px;}
.nofloat { float: none!important;}
/*Small filter*/
.filter-main { width: 120px;}
/*Subtotal*/
.ui-button { background: #A5A5A5; width: auto; height: 20px; border: none; }
.ui-button.del { background: #A5A5A5; width: 20px; height: 20px; }
.ui-button.hidden { display: none; }
.ui-button-text { color: white; font-size: 0.7em; }
.ui-icon.white { background-image: url(jquery-ui/images/ui-icons_ffffff_256x240.png); }
.ui-icon.del { margin-left: -9px; margin-top: -9px; }
h5.subtotal { text-align: left; color: #6AA9C7; }
div.subtotal-target { min-height: 27px; height: auto; }
#multipleOptimizationIcon { background-position: center !important; background-image: url("/Content/img/icons/optimization_icon.png") }
#multipleOptimizationIcon .active { border: 1px yellow; }
.multipleOptimization .activate-icon { background: lightgray; width: 91%; height: 30px; line-height: 30px; margin: 0 auto; }
.multipleOptimization .container { width: 90%; margin: 0 auto; height: 80%; overflow-y: auto;}
.multipleOptimization .container select { width: 180px; height: 30px; margin: 15px auto;}
.multipleOptimization .container h3 { font-weight: bold; text-align: center; margin: 15px auto; width: 100%; }
.multipleOptimization .container .buttons { width: 100%; height: 10%; position: absolute; bottom: 0; right: 25px;}
.multipleOptimization .container .lefty { width: 45%; padding: 0 10px; float: left; }
.multipleOptimization .container .rigthy { width: 45%; padding: 0 10px; float: left; }
.multipleOptimization .container label { font-weight: bold; float: left; margin-left: 15px; }
#viewOptionPartial_columnList .buttons { width: 100%; height: 35px; bottom: 0; background: lightgray; }
.multipleOptimization .container label { font-weight: bold; float: left; margin-left: 15px; }
#visibleButton { background: #eee; bottom: -25px; min-height: 35px; margin-left: 19px; padding: 5px; position: absolute; width: 413px; overflow-x:hidden; }

