<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="easySection" type="EasyDocExtraction.Helper.EasyExportedFoldersConfigurationSection, EasyDocExtraction"/>
  </configSections>
  <easySection>
    <easyFolders>
      <easyFolder value="C:\Users\wls\Documents\Visual Studio 2010\Projects\VS2010\Projects\Shutdown\Tools\ArchiveExtraction\EasyDocExtraction\EasyDocExtraction.Test\Resources" />
    </easyFolders>
  </easySection>
  <connectionStrings>
    <add name="EasyArchiveRepository"
         connectionString="server=localhost;User Id=avandata;PWD=avandata;database=easyarchiveTest"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
    <system.data>
      <DbProviderFactories>
        <remove invariant="MySql.Data.MySqlClient" />
        <add name="MySQL Data Provider"
              invariant="MySql.Data.MySqlClient"
              description=".Net Framework Data Provider for MySQL"
              type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      </DbProviderFactories>
    </system.data>
</configuration>