<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="passwordSection" type="Utils.PasswordConfiguration, Utils" />
  </configSections>
  <passwordSection>
    <!--
    password pattern description:
    ^ : matches start of string
    (?=.*[^A-Z\d\s]) : lookahead assertion for char that is not uppercase, not a decimal, and not a whitespace (the 1 other char)
    (?=.*[A-Z]) : lookahead assertion for uppercase
    (?=.*\d) : lookahead assertion for decimal
    [^\s] : no whitespace char
    {8,} : min 8 char
    $ : end of string -->
    <passwordPolicy enablePolicy="false" passwordHistoryCount="12"
                    passwordPattern="^(?=.*[^A-Z\d\s])(?=.*[A-Z])(?=.*\d)[^\s]{8,}$" validityPeriod="90"
                    passwordDescription_EN="different from the last 12 passwords, 8 characters minimum, 1 uppercase character, 1 decimal character, 1 other character."
                    passwordDescription_DE="unterscheidet sich von den letzten 12 Passwörter, Minimal 8 Zeichen, 1 Grossbuchstaben, 1 Dezimalzeichen, 1 anderen Charakter."
                    passwordDescription_FR="différent des 12 derniers mots de passe, 8 caractères minimum, 1 caractère majuscule, 1 caractère décimal, 1 autre caractère."
                    passwordDescription_ES="diferente de los últimos 12 contraseñas, 8 caracteres como mínimo, un carácter en mayúsculas, 1 carácter decimal, un carácter distinto."
                    passwordDescription_IT="diverso da quello degli ultimi 12 password, minimo 8 caratteri, 1 carattere maiuscolo, 1 carattere decimale, 1 altro personaggio." />
  </passwordSection>
</configuration>