<?xml version="1.0" encoding="utf-8"?>

<exporterConfig>
  <database name="diaprod_final">
    <report name="rechnungsnachdruck_dyn_view" exporter="Viewbox.Job.PdfExport.General.SimplePdfExporter"
            extinfo="zeile_int" extinfo4="60" />
  </database>
  <database name="actebis_sap_pe6">
    <report name="rechnungsnachdruck_dyn_view" exporter="Viewbox.Job.PdfExport.Actebis.ActebisFacturaPdfExporter" />
    <report name="rechnungsnachdruck_2_dyn_view" exporter="Viewbox.Job.PdfExport.Actebis.ActebisKreditnotePdfExporter" />
    <report name="lieferscheine_dyn_view" exporter="Viewbox.Job.PdfExport.Actebis.ActebisDeliveryNotePdfExporter" />
    <report name="sd_auftraege_dyn_view" exporter="Viewbox.Job.PdfExport.Actebis.ActebisOrderPdfExporter" />
  </database>
  <database name="actebis">
    <report name="rechnungsnachdruck_dyn_view" exporter="Viewbox.Job.PdfExport.Actebis.ActebisFacturaPdfExporter" />
    <report name="rechnungsnachdruck_2_dyn_view" exporter="Viewbox.Job.PdfExport.Actebis.ActebisKreditnotePdfExporter" />
    <report name="lieferscheine_dyn_view" exporter="Viewbox.Job.PdfExport.Actebis.ActebisDeliveryNotePdfExporter" />
    <report name="sd_auftraege_dyn_view" exporter="Viewbox.Job.PdfExport.Actebis.ActebisOrderPdfExporter" />
  </database>
  <database name="sap_wesslingen_020">
    <report name="rechnungsnachdruck_2_dyn_view"
            exporter="Viewbox.Job.PdfExport.ViewboxPdf.ViewboxActebisKreditnotePdfExportClone" />
  </database>
  <database name="man_mag">
    <report name="rechnungsnachdruck" exporter="Viewbox.Job.PdfExport.ViewboxPdf.ViewboxActebisFacturaPdfExportClone" />
  </database>
  <database name="otto_s_s_final">
    <report name="d125u" exporter="Viewbox.Job.PdfExport.General.SimplePdfExporter" extinfo="HZEILE132"
            extinfo2="false" extinfo3="6.8" extinfo5="HKEY" />
  </database>
</exporterConfig>