<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="loadactionpath" value="c:\temp\.Net Tools\AutomatedScripts\dupont"/>
  <add key="saveactionpath" value="c:\temp\.Net Tools\AutomatedScripts\dupont"/>
  <add key="windowclassname" value="TscShellContainerClass"/>
  <add key="windowname" value="dbduponthosting - Remote Desktop Connection"/>
  <add key="loaddataconfig" value="c:\temp\.Net Tools\AutomatedScripts\dupont"/>
  <add key="savedataconfig" value="c:\temp\.Net Tools\AutomatedScripts\dupont"/>
</appSettings>