<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="loadactionpath" value="c:\temp\.Net Tools\AutomatedScripts\koebo2"/>
  <add key="saveactionpath" value="c:\temp\.Net Tools\AutomatedScripts\koebo2"/>
  <add key="windowclassname" value="TscShellAxHostClass"/>
  <add key="windowname" value="172.0.5.136 - Remote Desktop Connection"/>
  <add key="loaddataconfig" value="c:\temp\.Net Tools\AutomatedScripts\koebo3"/>
  <add key="savedataconfig" value="c:\temp\.Net Tools\AutomatedScripts\koebo3"/>
</appSettings>