<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <clear />
    <add name="Viewbox.Properties.Settings.ViewboxDatabase"
         connectionString="server=viewbox;User Id=root;password=avendata;database=viewbox_zsv;Connect Timeout=1000;Default Command Timeout=0;Allow Zero Datetime=True"
         providerName="MySql.Data.MySqlClient" />
    <add name="Viewbox.Properties.Settings.ADConnectionString" connectionString="LDAP://Burns.AV.local" />
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ViewboxTemporaryDirectory" value="C:\Temp\" />
    <add key="ViewboxDocumentsDirectory" value="D:\DocumentFiles\" />
    <add key="ViewboxThumbnailsDirectory" value="D:\DocumentFiles\Thumbnails\" />
    <add key="ViewboxMailAddress" value="viewbox@avendata.de" />
    <add key="ViewboxMailName" value="Viewbox" />
    <!-- DataProvider: [MySQL|SQLServer] -->
    <add key="DataProvider" value="MySQL" />
    <add key="TempDatabaseName" value="temp" />
    <add key="IndexDatabasePostfix" value="_index" />
    <!--<add key="ImportDatabaseName" value="eon_trema_final_system" />-->
    <add key="ViewboxTemporaryObjectsLifetimeHours" value="48" />
    <add key="ViewboxTemporaryCheckIntervalMinutes" value="30" />
    <add key="ArchiveSecurityKey" value="BD4F0FA1A822B2D1917C26FF" />
    <add key="UseNewIssueMethod" value="true" />
    <add key="UseDocumentsPreview" value="false" />
    <add key="ADImportSupported" value="false" />
    <add key="ViewBoxBasePath" value="localhost" />
    <add key="LogPath" value="c:\users\las\appdata\roaming\avendata\viewbox\LOGGING.txt" />
    <!--<add key="UpdaterInterval" value="false"/>-->
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="600" />
    </authentication>

    <membership defaultProvider="ViewboxMembershipProvider">
      <providers>
        <clear />
        <add name="ViewboxMembershipProvider" type="Viewbox.ViewboxMembershipProvider, ViewBox" />
      </providers>
    </membership>
    <roleManager enabled="false">
      <providers>
        <clear />
      </providers>
    </roleManager>
    <profile>
      <providers>
        <clear />
      </providers>
    </profile>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
</configuration>