<?xml version="1.0" encoding="utf-8" ?>
<!--
   * author               date            comment
   * ************************************************************************************************************
   * Sebestyén Muráncsik  2012-10-22      initial implementation (eBilanz Kit feature 56)
   * Sebestyén Muráncsik  2012-10-23      Added delimiters. (eBilanz Kit ft. 56)
   * Sebestyén Muráncsik  2012-10-24      Added OnlyFalseAccepted option to evaluators. (eBilanz Kit ft. 56)
   * Sebestyén Muráncsik  2012-10-24      Added IsNumeric option to analyzers. (eBilanz Kit ft. 56)
-->
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!--
      IMPORTANT:
        If you use Fully Qualified Assembly name, than you MUST use
        a space after the colon (,)!
        Otherwise it'll fail while the software is running.
    -->
    
    <!-- Is positive or zero checking module -->
    <register
      type="DataAnalyze.Strategies.Analyzer.IAnalyzer, DataAnalyze"
      mapTo="DataAnalyze.Strategies.Analyzer.IsPositiveOrZeroAnalyze, DataAnalyze"
      name="IsPositiveOrZero"
      />

    <!-- Is negative or zero checking module -->
    <register
      type="DataAnalyze.Strategies.Analyzer.IAnalyzer, DataAnalyze"
      mapTo="DataAnalyze.Strategies.Analyzer.IsNegativeOrZeroAnalyze, DataAnalyze"
      name="IsNegativeOrZero"
      />
    
    <!-- Is empty checking module, returns whether the input data is empty. -->
    <register
      type="DataAnalyze.Strategies.Analyzer.IAnalyzer, DataAnalyze"
      mapTo="DataAnalyze.Strategies.Analyzer.IsEmptyAnalyze, DataAnalyze"
      name="IsEmpty"
      />

    <!-- Is numeric checking module, returns whether the input data is numeric. -->
    <register
      type="DataAnalyze.Strategies.Analyzer.IAnalyzer, DataAnalyze"
      mapTo="DataAnalyze.Strategies.Analyzer.IsNumericAnalyze, DataAnalyze"
      name="IsNumeric"
      />

    <!-- Dummy checking module, always returns "dummy analyzed" -->
    <register
      type="DataAnalyze.Strategies.Analyzer.IAnalyzer, DataAnalyze"
      mapTo="DataAnalyze.Strategies.Analyzer.DummyAnalyze, DataAnalyze"
      name="Dummy"
      />

    <!-- Every data should be same and determinable. -->
    <register
      type="DataAnalyze.Strategies.Evaluator.IEvaluator, DataAnalyze"
      mapTo="DataAnalyze.Strategies.Evaluator.EveryDataShouldBeSameEvaluator, DataAnalyze"
      name="EveryDataShouldBeSame"
      />

    <!-- Every data should be true. -->
    <register
      type="DataAnalyze.Strategies.Evaluator.IEvaluator, DataAnalyze"
      mapTo="DataAnalyze.Strategies.Evaluator.OnlyTrueAcceptedEvaluator, DataAnalyze"
      name="OnlyTrueAccepted"
      />

    <!-- Every data should be false. -->
    <register
      type="DataAnalyze.Strategies.Evaluator.IEvaluator, DataAnalyze"
      mapTo="DataAnalyze.Strategies.Evaluator.OnlyFalseAcceptedEvaluator, DataAnalyze"
      name="OnlyFalseAccepted"
      />
  </container>
</unity>