@using Viewbox.Properties
@model List<String>
           
<div class="scrollauto" style="height: 140px; width: 176px;">
    @if (Model != null && Model.Count > 0)
    {
        <input type="hidden" name="columnId" />
        <div style="border-bottom: 1px solid black;"><a id="selectAll" class="chkboxon" style="float: left;"></a><div style="text-align: left">@Resources.SelectAll</div></div>
        foreach (var v in Model)
        {
            <div class="gray-on-mouseover">
                <a class="chkboxon" style="float: left;"></a>
                <input type="hidden" name="filtervalues" value="@v"/>
                <div class="distinct-value" style="text-align: right">@v</div>
            </div>
        }
    }
    else
    {
        <div>@Resources.NoDataFound</div>
    }
</div>