@using Viewbox.Properties
@model List<SelectListItem>
<div id="reportgroup" class="dropdown-main" style="display: none; float: right; height: 50px; right: -352px; top: -9px; width: 250px;">
    <div class="triangleright"></div>
    <div class="outer-container-mask" style="height: 96px;">
        <div class="outer-container" style="height: 50px;">
            <h4>@Resources.IssueParameterGroups</h4>
            <div class="close-reportlist"></div>
            <div class="inner-container" style="height: 100%;">
                <div style="border-bottom: 1px solid gray; height: 30px;">
                    @Html.DropDownList("alma", Model)
                </div>
                <div style="border-bottom: 1px solid gray; height: 30px;">
                    <div style="height: 10px; width: 15px;">Delete</div>
                    <div style="height: 10px; width: 15px;">Load</div>
                </div>
            </div>
        </div>
    </div>
</div>