@model SystemDb.IParameter
<div class="dropdown-main" style="display: none; position: absolute; z-index: 400;">
    <div class="distinct-main">
        <div class="triangleleft">
        </div>
        <div class="outer-container-mask">
            <div class="outer-container" style="height: 272px;">
                <div class="close-reportlist">
                </div>
                <div class="inner-container" style="height: 272px;">
                    <div class="report-distinct-menu" parameterId=@Model.Id>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>