<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="easySection" type="EasyDocExtraction.Helper.EasyExportedFoldersConfigurationSection, EasyDocExtraction"/>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />-->
  </configSections>
  <easySection>
    <easyFolders>
      <!--<easyFolder value="C:\Users\wls\Documents\EasyArchive\ConvertTestData\DEMO\ATEST" />-->
      <!--<easyFolder value="C:\Users\wls\Documents\EasyArchive\ConvertTestData\DEMO" />-->
      <!--<easyFolder value="C:\Users\wls\Documents\EasyArchive\ConvertTestData\DEMO\BELEGE1" />-->
      <easyFolder value="C:\Users\las\Documents\EasyArchive\ConvertTestData\DEMO\BELEGE"/>
      <easyFolder value="C:\Users\las\Documents\EasyArchive\ConvertTestData\DEMO\MEDIA"/>
      <easyFolder value="C:\Users\las\Documents\EasyArchive\ConvertTestData\DEMO\OFFICE"/>
      <easyFolder value="C:\Users\las\Documents\EasyArchive\ConvertTestData\DEMO\PRIVAT"/>
      <!--<easyFolder value="C:\Users\wls\Documents\EasyArchive\ConvertTestData\ALMA" />-->
    </easyFolders>
  </easySection>
  <appSettings>
    <add key="logFolder" value="C:\Users\las\Documents\EasyArchive\Tyczka\Log\New folder\"/>
    <add key="dataChunckSizeToSave" value="10"/>
  </appSettings>
  <!--<log4net>
    <root>
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="C:\\Users\\wls\\Documents\\EasyArchive\\Tyczka\\Log\\New folder\\%property{logname}.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <countDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
      </layout>
    </appender>
  </log4net>-->
  
  <connectionStrings>
    <!--<add name="EasyArchiveRepository"
         connectionString="server=dbtytogaz;User Id=root;PWD=avendata;database=easyarchive"
         providerName="MySql.Data.MySqlClient"/>-->
    <add name="EasyArchiveRepository" connectionString="server=localhost;User Id=root;PWD=avendata;database=easyarchive" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
    <system.data>
      <DbProviderFactories>
        <remove invariant="MySql.Data.MySqlClient"/>
        <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      </DbProviderFactories>
    </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
