<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings >
      <basicHttpBinding > 
        <!-- the time is not enough for the data transfer if the server is completely busy or the internet bandwidth is low. 
        set the time according to the best practice -->
        <binding name="BAnzServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="200000000" maxBufferPoolSize="200000000" maxReceivedMessageSize="200000000"
            messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="false" >
          <readerQuotas maxDepth="200000000" maxStringContentLength="200000000" maxArrayLength="200000000"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws-test.publikations-plattform.de/services/v1.4/BAnzService"
          binding="basicHttpBinding" bindingConfiguration="BAnzServiceBinding"
          contract="BAnzServicePortType" name="BAnzServiceSoap12https"/>
    </client>
  </system.serviceModel>
</configuration>