/* SEITENWEITE EIGENSCHAFTEN
----------------------------------------------------------*/

#ui-datepicker-div { display: none }

* { outline: none; }

.tabbar {
    background: url(img/tabs/tab-background.png);
    border-top: 1px solid white;
    color: #037db0;
    font-size: .7em;
    height: 22px;
    padding: 0 2px;
}

.tabbar .tabheader {
    display: block;
    float: left;
    line-height: 21px;
    margin: 1px;
    margin-bottom: 0;
    padding: 0 5px;
    vertical-align: middle;
}

.tabbar .selected.tabheader {
    background: white;
    border: 1px solid #cbcbcb;
    border-bottom: none;
    color: Black;
    margin: 0;
    text-decoration: none!important;
}

.view-scroll {
    background: #ececec;
    bottom: 0;
    position: absolute;
    text-align: left;
    top: 23px;
    white-space: nowrap;
    width: 100%;
}

.item-id { display: none!important; }


.filter-value { display: none!important; }
/* EXTENDED BORDER   
----------------------------------------------------------*/

.extended-border .border-tl {
    background: url(img/ext-border/ext-border-tl.png);
    height: 140px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

.extended-border .border-tc {
    background: url(img/ext-border/ext-border-tc.png);
    height: 67px;
    left: 20px;
    position: absolute;
    right: 20px;
    top: 0;
}

.extended-border .border-tr {
    background: url(img/ext-border/ext-border-tr.png);
    height: 140px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}

.extended-border .border-ml {
    background: black;
    bottom: 12px;
    left: 0;
    position: absolute;
    top: 140px;
    width: 10px;
}

.extended-border .border-mr {
    background: black;
    bottom: 12px;
    position: absolute;
    right: 0;
    top: 140px;
    width: 8px;
}

.extended-border .border-bl {
    background: url(img/ext-border/ext-border-bl.png);
    bottom: 0;
    height: 12px;
    left: 0;
    position: absolute;
    width: 20px;
}

.extended-border .border-bc {
    background: url(img/ext-border/ext-border-bc.png);
    bottom: 0;
    height: 12px;
    left: 20px;
    position: absolute;
    right: 20px;
}

.extended-border .border-br {
    background: url(img/ext-border/ext-border-br.png);
    bottom: 0;
    height: 12px;
    position: absolute;
    right: 0;
    width: 20px;
}

.extended-border .border-content {
    background: white;
    bottom: 12px;
    left: 10px;
    position: absolute;
    right: 8px;
    top: 67px;
}
/* HAUPTLAYOUTELEMENTE   
----------------------------------------------------------*/

body {
    background: #037db0 url(img/background.jpg) top left no-repeat;
    font-family: Verdana, Helvetica, Sans-Serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

.left { float: left; }

.scroll { overflow-y: scroll!important; }

.scroll-x { overflow-x: scroll!important; }

.page {
    bottom: 100px;
    left: 0;
    position: absolute;
    right: 0;
    top: 100px;
}

.page-content {
    -overflow: hidden;
    height: 100%;
    margin: 0 auto;
    min-height: 400px;
    position: relative;
    width: 1200px;
}

.page-header {
    height: 30px;
    text-align: left;
}

.page-header .view-select {
    color: #b4dae9;
    font-weight: bold;
    line-height: 20px;
}

.page-header .view-select a {
    background: url(img/glyphs/dropdown-blue.png) right center no-repeat;
    padding-right: 15px;
}

.page-header .table-select {
    color: White;
    font-size: 1.4em;
    line-height: 30px;
}

.page-header .table-select a {
    background: url(img/glyphs/dropdown.png) right center no-repeat;
    padding-right: 15px;
}

.page-header .functions {
    color: White;
    font-size: .7em;
    line-height: 18px;
    padding-top: 28px;
    text-align: right;
}

.page-header .functions a {
    background: url(img/glyphs/add.png) right center no-repeat;
    display: inline-block;
    margin-left: 20px;
    padding-right: 20px;
}

.page-header .functions a:hover {
    -text-decoration: none;
    background-image: url(img/glyphs/add-hover.png);
}

.content-box {
    bottom: 26px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50px;
}

.content-outer {
    -padding: 1px;
    /***** BORDER *****/
    -position: relative;
    background: white;
    border: 12px solid #054862;
    border-radius: 5px;
    height: 100%;
    max-height: 100%;
}

.content-inner {
    height: 100%;
    position: relative;
    width: 100%;
}

h2 {
    color: White;
    font-size: 1.4em;
    padding: 15px 0;
}

.main-content {
    float: left;
    width: 900px;
}

.right-content {
    border-left: 12px solid #054862;
    left: auto!important;
    position: absolute;
    right: 12px;
    width: 264px!important;
}
/* HEADER
----------------------------------------------------------*/

#header {
    left: 50%;
    margin-left: -550px;
    position: absolute;
    top: 0;
    width: 1100px;
}

.header-top {
    background: url(img/header/header-top.png);
    height: 38px;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.header-top-login {
    color: White;
    font-weight: bold;
    line-height: 20px;
    margin-left: 446px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 210px;
}

.header-top-login .login {
    background: url(img/glyphs/dropdown.png) right center no-repeat;
    display: inline-block;
    padding: 0 10px;
}

.header-top-shadow {
    background: url(img/header/header-top-shadow.png);
    height: 62px;
    margin-top: 38px;
    width: 100%;
}

.header-select {
    position: absolute;
    text-align: center;
    top: 38px;
    width: 100%;
    z-index: 999;
}

.disabled .header-select { top: 12px; }

.header-select-inline { display: inline-block; }

.header-select-left {
    background: url(img/header/header-select-left.png);
    float: left;
    height: 60px;
    width: 280px;
}

.header-select-center {
    background: url(img/header/header-select-center.png);
    float: left;
    height: 60px;
}

.header-select-right {
    background: url(img/header/header-select-right.png);
    float: left;
    height: 60px;
    width: 280px;
}

.header-select-clear { clear: both; }

.header-select-content {
    color: White;
    height: 30px;
    left: -180px;
    line-height: 30px;
    margin-right: -360px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.header-select-filter {
    float: left;
    margin: 0 10px;
}

.header-select-filter a {
    background: url(img/glyphs/dropdown.png) right center no-repeat;
    padding-right: 10px;
}

.header-select-filter a:hover { text-decoration: underline; }

.header-select-filter .category { color: #c0c0c0; }

.header-select-filter .dropdown a { background: none; }

.header-select .search {
    background: url(img/header/search.png) center center no-repeat;
    float: left;
    font-size: .7em;
    font-weight: normal;
    height: 30px;
    margin: 0 10px;
    padding-left: 5px;
    text-align: left;
    vertical-align: middle;
    width: 166px;
}

.header-select .search .bg-text {
    height: 30px;
    width: 166px;
}

.header-select .search input {
    -margin-bottom: -30px;
    background: url(img/spacer.png);
    border: none;
    color: White;
    height: 19px;
    
    left: -4px;
    line-height: 19px;
    margin-right: -4px;
    padding-left: 4px;
    padding-right: 22px;
    position: relative;
    top: -29px;
    width: 123px;
}

.header-top-controls {
    float: right;
    height: 30px;
    margin-right: 80px;
    margin-top: 3px;
    width: 230px;
}

#language-selector {
    background: url(img/header/lang-dropdown.png);
    color: White;
    float: left;
    height: 20px;
    margin: 5px;
    width: 105px;
}

#language-selector .language-selector-icon {
    float: left;
    height: 11px;
    margin: 3px;
}

#language-selector .language-selector-text {
    display: block;
    font-size: .7em;
    line-height: 19px;
    margin-left: 22px;
}

.header-top-controls .separator {
    background: url(img/header/divider.png) left center no-repeat;
    float: left;
    height: 30px;
    width: 5px;
}

.header-top-controls .header-button {
    float: left;
    height: 20px;
    margin: 5px 2px;
    width: 23px;
}

.header-top-controls .button-messages { background-image: url(img/header/msg.png); }

.header-top-controls .button-help { background-image: url(img/header/help.png); }

.header-top-controls .button-home { background-image: url(img/header/home.png); }

.header-top-controls .button-close { background-image: url(img/header/logout.png); }
/* NAVBAR
----------------------------------------------------------*/

#navbar {
    background: url(img/navbar/navbar.png);
    height: 48px;
    margin: 11px auto;
    margin-bottom: 0;
    padding: 5px 10px;
    padding-bottom: 12px;
    width: 980px;
}

#navbar .button {
    -margin: 0 6px;
    background: transparent;
    color: White;
    display: inline-block;
    font-size: .8em;
    height: 48px;
    text-align: center;
    text-decoration: none;
    width: 98px;
}

#navbar .button .icon {
    background: center center no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
}

#navbar .button .icon { line-height: 15px; }

#navbar .selector {
    height: 18px;
    left: 20px;
    position: relative;
    top: -5px;
    width: 18px;
}

#navbar a:hover .text { text-decoration: underline; }

#navbar a:hover,
#navbar a:focus {
    background: url(img/navbar/nav-hover.png) center 2px no-repeat;
    outline: none;
}

#navbar .controlcenter {
    background: url(img/navbar/controlcenter.png) center 3px no-repeat;
    width: 140px!important;
}

#navbar a:hover.controlcenter,
#navbar a:focus.controlcenter { background: url(img/navbar/controlcenter_hover.png) center 3px no-repeat!important; }

#navbar .controlcenter.selected { background-image: url(img/navbar/controlcenter_hover.png); }

#navbar .cases .icon { background-image: url(img/navbar/cases.png); }

#navbar .views .icon { background-image: url(img/navbar/views.png); }

#navbar .tableview .icon { background-image: url(img/navbar/tables.png); }

#navbar .archive .icon { background-image: url(img/navbar/docs.png); }

#navbar .export .icon { background-image: url(img/navbar/export.png); }

#navbar .help .icon { background-image: url(img/navbar/docs.png); }

#navbar .docs .icon { background-image: url(img/navbar/docs.png); }

#navbar .settings .icon { background-image: url(img/navbar/settings.png); }

#navbar .selected .selector { background: url(img/navbar/selected.png); }

#navbar.ccenter .selected .selector { background: none; }
/* LOGIN
----------------------------------------------------------*/

.login-outer {
    background: url(img/login/login.png);
    height: 470px;
    margin: 0 auto;
    padding: 39px 11px 42px 11px;
    text-align: left;
    width: 976px;
}

.login-inner {
    background: url(img/login/login-inner.de.jpg);
    height: 100%;
    width: 100%;
}

.login-controls {
    color: white;
    height: 84px;
    left: 564px;
    position: relative;
    top: -497px;
    width: 376px;
}

.login-controls .form-email {
    float: left;
    width: 181px;
}

.login-controls .form-password {
    margin-left: 195px;
    width: 181px;
}

.login-controls label { width: 100%; }

.login-controls .form-email input,
.login-controls .form-password input {
    background: url(img/login/form-input.png);
    border: none;
    color: White;
    height: 21px;
    line-height: 21px;
    width: 100%;
}

.login-controls .form-rememberme {
    color: #6e6e6e;
    float: left;
    font-size: .7em;
    margin-top: 10px;
}

.login-controls .form-rememberme input { background: #646464; }

.login-controls .form-rememberme p { padding: 5px 0; }

.login-controls .form-rememberme a { }

.login-controls .form-submit { margin-left: 296px; }

.login-controls .form-submit input {
    background: url(img/login/button-login.png);
    border: none;
    color: white;
    height: 21px;
    line-height: 20px;
    margin: 20px 0;
    text-align: center;
    vertical-align: top;
    width: 80px;
}
/* PAGE CONTENT
----------------------------------------------------------*/

.page-content .tab-content {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 76px;
    width: 100%;
}

.page-content .header .title {
    color: #02455F;
    float: left;
    font-size: 11pt;
    padding: 0 10px;
}

.page-content .header .search {
    background: url(img/objects/search.png) center center no-repeat;
    float: right;
    font-size: .7em;
    font-weight: normal;
    height: 21px;
    line-height: 21px;
    margin: 4px 20px;
    padding-left: 5px;
    text-align: left;
    vertical-align: middle;
    width: 176px;
}

.page-content .header .search .bg-text {
    color: gray;
    line-height: 21px;
    padding: 0 5px;
}

.page-content .header .search input {
    background: url(img/spacer.png);
    border: none;
    height: 19px;
    left: -1px;
    line-height: 19px;
    padding-left: 5px;
    position: relative;
    top: -20px;
    width: 130px;
}

.fill-loading { height: 102px; }

.loading {
    background: url(img/loadera64.gif);
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
}

.refreshIssueRecordCount {
    background: url(img/loadera16.gif);
    height: 16px;
    width: 16px;
}

#drag-wrapper { position: relative; }

.crud-data { width: 400px; }

.crud-data-columns { padding-bottom: 24px; }

.crud-data-column { line-height: 25px; }

.crud-data-group-header {
    font-size: larger;
    font-weight: bolder;
    padding-left: 34px;
    padding-top: 4px;
    width: 150px;
}

.crud-data-group {
    border-top: 1px gray solid;
    padding-bottom: 17px;
    padding-top: 17px;
    width: 388px;
}

.crud-data-column-desc {
    padding-left: 34px;
    width: 150px;
}

.crud-data-column-val { width: 200px; }

.crud-data-column-val input { border: 1px solid #b6b6b6; }

#crud-popup .reportdate { margin-right: 2px; }

#crud-popup img {
    cursor: pointer;
    padding-left: 5px;
    vertical-align: middle;
}

.crud-data-actions {
    border-top: 1px solid gray;
    padding-left: 48px;
    padding-top: 24px;
}

.crud-data-actions .button {
    background: url("img/bg/report-button-bg.png") repeat-x scroll 0 0 transparent;
    border: solid 1px;
    border-color: grey;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    margin: 0 10px;
    text-align: center;
    vertical-align: middle;
    width: 130px;
}

#dropdown-title {
    
    color: white;
    font-size: larger;
    font-weight: bolder;
    height: 20px;
    left: 10px;
    position: absolute;
    top: 10px;
}

#crud-popup-inner { padding-bottom: 24px; }

#crud-popup .distinct-main {
    left: 300px;
    margin: auto;
    right: -300px;
    top: 40px;
    width: 400px;
}

.crud-data-column-desc.spec {
    margin-right: 6px;
    width: auto;
}

.crud-data-column-val.spec {
    margin-top: 3px;
    width: auto;
}

.crud-data-column-val .checkb { width: 16px; }

.crud-data-loading-place {
    min-height: 16px;
    min-width: 16px;
}

.crud-data-loading {
    background: url(img/loadera16.gif);
    height: 16px;
    width: 16px;
}