/* VIEW PROPERTIES
----------------------------------------------------------*/
div.columns, div.column-order-content { padding-left: 2px; }

.column-view-props div.sort { }

.column-view-props div.filter { }

.column-view-props div.summa { }

.column-view-props.sort .middle.sort { display: block; }

.column-view-props.filter .middle.filter { display: block; }

.column-view-props.summa .middle.summa { display: block; }

.column-view-props.rights .middle.columns,
.column-view-props.hidden .middle.columns,
.column-view-props.visible .middle.columns,
.column-view-props.column-order .middle.column-order-content { display: block; }

.column-view-props.visible tr.hidden { display: none; }

.column-view-props.hidden tr.visible { display: none; }
.column-view-props.visible tr.searchhidden { display: none; }
.column-view-props.hidden tr.searchhidden { display: none; }


.column-view-props.column-order th.visibility, .column-view-props.column-order td.visibility { display: none; }

.column-view-props.visible .column-order-content, .column-view-props.hidden .column-order-content,
.column-view-props.rights .column-order-content, .column-view-props.column-order .columns { display: none; }

.column-view-props table {
    background: white;
    border-spacing: 0px;
    /*margin-left: 19px;*/
    width: 421px;
}

.middle .normal
{
    margin-left: 19px;
    width: 421px;
}

.column-view-props .summa table {
    background: white;
    border-spacing: 0px; 
    margin-left: 0px;   
    width: 421px;
}

.viewoptions-enlarged .column-view-props table { margin-left: 20px; }

.column-view-props.column-order-content table { margin-left: 22px; }

.column-view-props div.scroll {
    background: white;
    height: 93%;
    margin-left: 19px;
    width: 423px;
}

.column-view-props div.scroll table {
    margin: 0;
    width: 100%;
}

.column-view-props div.controls {
    background: white;
    height: 35px;
    margin-left: 19px;
    margin-top: 10px;
    width: 423px;
}

.column-view-props div.controls div.pagination {
    display: inline-block;
    height: 25px;
    width: 66%;
}

.column-view-props div.controls div.buttons {
    display: inline-block;
    float: right;
    height: 25px;
}

.viewoptions-enlarged .column-view-props div.scroll {
    background: white;
    height: 98%;
    margin-left: 19px;
    overflow-x: hidden;
    position: absolute;
    top: 21px;
    width: 866px;
}

.viewoptions-enlarged .column-view-props div.scroll table {
    position: relative;
    width: 423px;
}

.viewoptions-enlarged .column-view-props div.scroll table.first { left: 1px; }

.viewoptions-enlarged .column-view-props div.scroll table.second { left: 19px; }

.dropdown-menu.viewoptions-enlarged .normal { display: none }

.dropdown-menu.normal .first, .dropdown-menu.normal .second { display: none }

.column-view-props th {
    background: white;
    font-size: 10pt;
    line-height: 21px;
    text-align: left;
}

.column-view-props th { padding: 0 5px; }

.column-view-props td {
    padding: 3px;
}

.column-view-props tr {
    border-bottom: 1px solid lightgray;
}

.column-view-props .colnumber {
    text-align: center;
    width: 50px;
}

.column-view-props .colname {
    text-align: left;
    width: 275px;
}

.column-view-props .visibility { padding: 0px; }

.column-view-props .visibility div {
    background: url(img/icons/search.png) center center no-repeat;
    height: 21px;
    width: 21px;
}

.column-view-props .colname .description {
    overflow: hidden;
    text-overflow:ellipsis; 
    white-space: normal;
    width: 310px;
}

.sorting-columns .colname .description {
    width: 288px;
}

.column-view-props.hidden .fading .visibility a,
.column-view-props .visibility a {
    background: url(img/glyphs/checkbox.png) center center no-repeat;
    display: block;
    height: 21px;
    width: 21px;
}

.column-view-props.visible .fading .visibility a,
.column-view-props.hidden .visibility a { background-image: url(img/glyphs/checkbox-off.png); }

.column-view-props .to-disab,
.column-view-props .to-sum,
.column-view-props .to-sort
{
    display:none;
    padding:0px;
    background: url(img/glyphs/checkbox-off.png) center center no-repeat;
    display: block;
    height: 20px;
    width: 20px;
    float:left;
    cursor: pointer; 
}

.column-view-props .from-sort
{
    display:none;
    padding:0px;
    background: url(img/glyphs/checkbox.png) center center no-repeat;
    display: block;
    height: 20px;
    width: 20px;
    float:left;
    cursor: pointer;
    position: absolute;
    margin-left: 275px;
    margin-top:-17px;
}

.column-view-props .from-sum
{
    display:none;
    padding:0px;
    background: url(img/glyphs/checkbox.png) center center no-repeat;
    display: block;
    height: 20px;
    width: 20px;
    float:left;
    cursor: pointer;
}

.column-view-props .sort { }

.column-view-props .subtotal .subtotaling-columns, .column-view-props .subtotal .subtotalable-columns, .column-view-props .subtotal .buttons, .column-view-props .sort .sorting-columns, .column-view-props .sort .sortable-columns, .column-view-props .sort .buttons {
    margin-left: 21px;
    padding: 5px;
    position: absolute;
    width: 413px;
    overflow-x: hidden;
}

.column-view-props .column-order-content .sortable-columns {
    padding: 0 5px 5px;
    position: absolute;
    width: 413px;
}

.column-view-props .sort .droparea {
    bottom: 0;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    overflow-x: hidden;
}

.column-view-props .subtotal .subtotaling-columns {
    border-bottom: 5px solid black;
    height: 241px;
    overflow-y: auto;
}

.column-view-props .sort .sorting-columns {
    border-bottom: 5px solid black;
    height: 100px;
    overflow-y: auto;
}

.column-view-props .sort .sortable-columns {
    bottom: 20px;
    overflow-y: auto;
    top: 115px;
}

.column-view-props .column-order-content .sortable-columns {
    bottom: 0px;
    height: 97%;
    overflow-y: auto;
    top: 21px;
    margin-left: 0px;
}

.viewoptions-enlarged .column-view-props .column-order-content .sortable-columns {
    bottom: auto !important;
    left: 1px;
    overflow: visible !important;
    top: auto !important;
}

.viewoptions-enlarged .column-view-props .column-order-content .sortable-columns.second { left: 442px; }

.column-view-props .subtotal .buttons,
.column-view-props .sort .buttons {
    background: #eee;
    bottom: -25px;
    min-height: 35px;
}

.column-view-props .placeholder {
    color: #037db0;
    padding: 3px;
}

.column-view-props .sort .placeholder { margin-top: 31px; }

.column-view-props .sort .drag-helper, .column-view-props .column-order-content .drag-helper {
    border: 1px dashed black;
    margin-bottom: 1px;
    padding: 10px;
}

.column-view-props .sort div.column, .column-view-props .column-order-content div.column {
    border-bottom: 1px solid #deddde;
    margin-top: 3px;
    padding-bottom: 3px;
    width: 415px;
}

.column-view-props .sort div.colnumber, .column-view-props .column-order-content div.colnumber {
    float: left;
    text-align: right;
    width: 25px;
}

.column-view-props .sort div.colname, .column-view-props .column-order-content div.colname {
    line-height: 16px;
    padding: 0 20px 0 60px;
    vertical-align: middle;
}

.column-view-props .sort .sortable-columns div.colname {
    line-height: 16px;
    vertical-align: middle;
    float: left;
}

.column-view-props .column-order-content .sortable-columns div.colname {
    line-height: 15px;
    vertical-align: middle;
    width: auto;
}

.column-view-props .sort a.sortdirection {
    background: url(img/bg/nav.png) -645px -1517px;
    float: right;
    height: 16px;
    width: 16px;
    margin-right: 29px;
}

.column-view-props .sort a.sortdirection.desc { background-position: -628px -1517px; }

.column-view-props .sort .sortable-columns a.sortdirection { display: none; }

.column-view-props .summa { }

.column-view-props .subtotal .subtotaling-columns,
.column-view-props .summa .summing-columns,
.column-view-props .summa .summable-columns1,
.column-view-props .sort .sorting-columns,
.column-view-props .sort .sortable-columns1,
.column-view-props .summa .buttons {
    margin-left: 21px;
    padding: 5px;
    position: absolute;
    width: 413px;
}

.column-view-props .column-order-content .summable-columns1, .sortable-columns1
{
    padding: 0 5px 5px;
    position: absolute;
    width: 413px;
}

.column-view-props .summa .droparea,
.column-view-props .sort .droparea
{
    bottom: 0;
    left: 0;    
    position: absolute;
    right: 0;
    top: 0;
}

.column-view-props .summa .summing-columns,
.column-view-props .summa .sorting-columns
{
    border-bottom: 5px solid black;
    height: 100px;
    overflow-y: auto;
}

.column-view-props .summa .summable-columns1,
.column-view-props .sort .sortable-columns1
{
    bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 115px;
}

.column-view-props .summa .rolebasedvisibility
{
    padding: 0 21px 5px;
    position: absolute;
    width: 400px;
    bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 15px;
}

.column-view-props .column-order-content .summable-columns1,
.column-view-props .column-order-content .sortable-columns1
{
    bottom: 0px;
    height: 97%;
    overflow-y: auto;
    top: 21px;
}

.viewoptions-enlarged .column-view-props .column-order-content .summable-columns1,
.viewoptions-enlarged .column-view-props .column-order-content .sortable-columns1
{
    bottom: auto !important;
    left: 1px;
    overflow: visible !important;
    top: auto !important;
}

.column-view-props .summa .visibility a{
    background: url(img/glyphs/checkbox.png) center center no-repeat;
    display: block;
    height: 21px;
    width: 21px;
}

.viewoptions-enlarged .column-view-props .column-order-content .summable-columns.second { left: 442px; }

.column-view-props .summa .buttons {
    background: #eee;
    bottom: -25px;
    min-height: 35px;
}

.column-view-props .placeholder {
    color: #037db0;
    padding: 3px;
}

.column-view-props .summa .placeholder { margin-top: 31px; }

.column-view-props .summa .drag-helper, .column-view-props .column-order-content .drag-helper {
    border: 1px dashed black;
    margin-bottom: 1px;
    padding: 10px;
}

.column-view-props .column-order-content div.column {
    border-bottom: 1px solid #deddde;
    cursor: move;
    margin-top: 3px;
    padding-bottom: 3px;
}

.column-view-props .summa div.column{
    border-bottom: 1px solid #deddde;
    cursor:default;
    margin-top: 3px;
    padding-bottom: 3px;
}

.column-view-props .summa div.colnumber, .column-view-props .column-order-content div.colnumber {
    float: left;
    text-align: right;
}

.column-view-props .summa div.colname, .column-view-props .column-order-content div.colname {
    line-height: 16px;
    padding: 0 20px 0 60px;
    vertical-align: middle;
    width: auto;
}

.column-view-props .summa .summing-columns div.colname {
    line-height: 16px;
    vertical-align: middle;
    width: auto;
}

.column-view-props .column-order-content .summable-columns1 div.colname {
    line-height: 15px;
    vertical-align: middle;
    width: auto;
}

.column-view-props input.button {
    background: url(img/bg/content-button.png) repeat-x;
    border: none;
    color: #037db0;
    float: right;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 5px 17px 0 0;
    vertical-align: middle;
}

.column-view-props .column-order-content th.colname { width: 200px; }

.column-view-props .column-order-content th.reset {
    font-size: 11px;
    text-align: right;
}

.column-view-props .column-order-content th.order-false { color: #037DB0; }

.column-view-props .column-order-content th.order-true { color: Gray; }

.column-view-props .column-order-content th.order-false span { cursor: pointer; }

.column-view-props .column-order-content th.order-true span { cursor: default; }

.column-view-props .filter { min-height: 380px; }

.column-view-props .filter .operators,
.column-view-props .filter .filter-tree,
.column-view-props .filter .buttons {
    margin-left: 21px;
    padding: 5px;
    position: absolute;
    width: 413px;
}

.column-view-props .filter .filter-tree {
    min-height: 300px;
    overflow: auto;
}

.column-view-props .filter .buttons {
    background: #eee;
    bottom: -25px;
    min-height: 45px;
}

.column-view-props .filter .buttons span {
    float: left;
    vertical-align: middle;
}

.column-view-props .filter .buttons input {
    height: 25px;
    vertical-align: middle;
}

.column-view-props .filter .ui-draggable-dragging { z-index: 10000; }

.column-view-props .filter .op-command { display: none; } /* this is the pseudo-sql */

.column-view-props .filter .operator .op-symbol, .column-view-props .filter .dbnull {
    background: #eee;
    border: 1px solid #037db0;
    font-weight: bold;
    height: 16px;
    text-align: center;
    width: 20px;
}

.column-view-props .filter .operator .op-number-box {
    background: #037db0;
    color: white;
    display: inline-block;
    font-weight: bold;
    height: 16px;
    margin-right: 3px;
    min-width: 20px;
    padding: 1px;
    text-align: center;
}

.column-view-props .filter .operator .op-dock { display: none; }

.column-view-props .filter .operator .op-text { display: none; }

.column-view-props .filter .operator.ui-draggable-dragging { cursor: default; }

.column-view-props .filter .operators {
    border-bottom: 5px solid black;
    height: 22px;
    overflow: visible;
    overflow-y: auto;
    padding: 3px;
    width: 417px;
}

.column-view-props .filter .operators .operator {
    cursor: move;
    float: left;
    margin: 2px;
}
/*DBNULL value*/

.column-view-props .filter .operators .dbnull {
    cursor: move;
    float: right;
    margin: 2px;
}

.column-view-props .filter .dbnull .op-symbol {
    background: #eee;
    border: 1px solid #037db0;
    font-weight: bold;
    height: 16px;
    text-align: center;
    width: 20px;
}

.column-view-props .filter .droparea {
    bottom: 0;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
}

.column-view-props .filter .droparea .op-dock {
    display: inline;
    min-width: 20px;
    width: auto;
}

.column-view-props .filter .droparea .op-dock.optional,
.column-view-props .filter .droparea .op-dock.ui-droppable {
    border: 2px dashed #037db0;
    display: inline-block;
    height: 14px;
    vertical-align: middle;
}

.column-view-props .filter .droparea .op-dock.optional {
    border: 2px dashed #deddde;
    color: #bbbbbb;
    display: inline-block;
    height: 14px;
    vertical-align: middle;
}

.column-view-props .filter .droparea .op-dock.op-dock-hover {
    border: 2px dashed #FFAE00;
    cursor: default;
    display: inline-block;
    height: 14px;
    vertical-align: middle;
}

.column-view-props .filter .droparea .operator {
    background: white;
    display: inline;
}

.column-view-props .filter .droparea .operator.hover { background: #deddde; }

.column-view-props .filter .droparea .operator.value,
.column-view-props .filter .droparea .operator.typeless { display: inline-block; }

.column-view-props .filter .droparea .operator .op-text {
    display: inline;
    font-weight: bold;
}

.column-view-props .filter .droparea div.placeholder { display: inline-block; }

.column-view-props .filter .droparea .border {
    border: 1px solid #037db0;
    padding: 2px
}

.column-view-props .filter .droparea .op-dock.value,
.column-view-props .filter .droparea .op-dock.column { color: #037db0; }

.column-view-props .filter .droparea .op-dock .datepick {
    background: url(img/icons/datepick.png) right no-repeat;
    padding-right: 20px;
}

.column-view-props .filter .droparea .op-dock .placeholder.dropdown {
    background: url(img/icons/arrow-down-black.png) right 5px no-repeat;
    overflow: hidden;
    padding-right: 14px;
}

.column-view-props .filter .droparea .op-dock .placeholder {
    height: 16px;
    line-height: 16px;
    min-width: 20px;
    vertical-align: middle;
}

.column-view-props .filter .droparea .op-dock .dropdown .placeholder.empty { color: #037db0; }

.column-view-props .filter .dropdown {
    cursor: hand;
    cursor: pointer;
    width: 130px
}

.column-view-props .filter .dropdown.columns {
    background: white;
    border: 1px solid #037db0;
    box-shadow: 1px 1px 2px 2px #666;
    display: none;
    height: 200px;
    margin-top: -1px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 250px;
    z-index: 1000
}

.column-view-props .filter .dropdown.columns .column {
    border-bottom: 1px solid #deddde;
    cursor: pointer;
    cursor: pointer;
    padding: 3px 5px;
}

.column-view-props .filter .dropdown.columns .colname {
    padding-left: 60px;
    width: 160px;
    z-index: 1000
}

.column-view-props .filter .dropdown.columns .colnumber {
    float: left;
    padding-right: 5px;
    text-align: right;
    width: 50px;
    z-index: 1000
}

.search-viewoptions-panel {
    position: absolute;
    right: 30px;
    top: 63px;
    width: 145px;
}

.search-viewoptions-panel .field { color: #676767; }

.search-viewoptions-panel .field.dirty,
.search-viewoptions-panel.focus .field { color: #000; }

.search-viewoptions-panel .bg-left {
    background-position: -923px -590px;
    float: left;
    height: 23px;
    width: 12px;
}

.search-viewoptions-panel .bg-middle {
    background-position: -13px -1353px;
    display: block;
    float: left;
    height: 23px;
    line-height: 23px;
    padding: 0;
    width: 110px;
}

.search-viewoptions-panel .submit {
    background-position: -936px -590px;
    height: 23px;
    width: 23px;
}

.search-viewoptions-panel.focus .bg-left { background-position: -960px -590px; }

.search-viewoptions-panel.focus .bg-middle { background-position: -13px -1386px; }

.search-viewoptions-panel.focus .submit { background-position: -973px -590px; }

.search-viewoptions-panel form { white-space: nowrap; }

.search-listoptions-panel {
    margin-left: 27px;
    width: 400px;
}

.search-listoptions-panel .field { color: #676767; }

.search-listoptions-panel .field.dirty,
.search-listoptions-panel.focus .field { color: #000; }

.search-listoptions-panel .bg-left {
    background-position: -923px -590px;
    float: left;
    height: 23px;
    width: 12px;
}

.search-listoptions-panel .bg-middle {
    background-position: -13px -1353px;
    display: block;
    float: left;
    height: 23px;
    line-height: 23px;
    padding: 0;
    width: 365px;
}

.search-listoptions-panel .submit {
    background-position: -936px -590px;
    height: 23px;
    width: 23px;
}

.search-listoptions-panel.focus .bg-left { background-position: -960px -590px; }

.search-listoptions-panel.focus .bg-middle { background-position: -13px -1386px; }

.search-listoptions-panel.focus .submit { background-position: -973px -590px; }

.search-listoptions-panel form { white-space: nowrap; }

.add-new-element-for-IN-filter {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #037DB0;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 16px;
    text-align: center;
    width: 80px;
}

.left-tabulated { margin-left: 20px }

.in-filter-element {
    margin-bottom: 4px;
    margin-left: 50px;
    width: 60px;
}

.delete_element {
    color: red;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -5px;
}

.column-view-props .colname2 {
    text-align: left;
    padding: 5px;
    width: 1px;
}
.column-view-props .colname2 .description {
    overflow: hidden;
    white-space: normal;
    width: 100px;
}

.column-view-props .colname3 {
    text-align: left;
    width: 1px;
}
.column-view-props .colname3 .description {
    overflow: hidden;
    white-space: normal;
    width: 260px;
}

.subtotalable-columns {
    bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 256px;
    margin-left: 21px;
    padding: 5px;
    position: absolute;
    width: 413px;
}

td.sub-btns{
    text-align: right;
    padding-top: 0px;
    padding-right: 32px;
    padding-bottom: 0px;
    padding-left: 0px;
}