@model Viewbox.Models.DatabaseOutOfDateModel
@{
    ViewBag.Title = Model.LabelCaption;
}
<div id="databaseoutofdate-dlg" class="hide">
    @Html.Partial("_DialogPartial", Model.Dialog)
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function() {
        jQuery('#dialog').show().html(jQuery('#databaseoutofdate-dlg').remove().html()).addClass("databaseOutOfDate");
    });
</script>