@model Viewbox.Models.ForcedToQuitModel
@{
    ViewBag.Title = Model.LabelCaption;
}

<div id="forcedtoquit-dlg" class="hide">
    @Html.Partial("_DialogPartial", Model.Dialog)
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function() {
        jQuery('#dialog').html(jQuery('#forcedtoquit-dlg').remove().html()).addClass("forcedToQuit");
        setTimeout(function () { $('#dialog').show(); }, 1000);
    });
</script>